.des-slider-container .card {
  width: 300px !important;
  background: rgba(0, 0, 0, 0.72) none repeat scroll 0 0;
  border-radius: 20px;
  overflow: hidden;
}

.des-slider-container {
  width: 90%;
}

.des-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.destination img {
  opacity: 0.5;
}
